{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <div class="d-flex flex-column align-items-center p-4 bg-light border rounded shadow-sm">
        <h2>Eliminar Marca</h2>
        <p>¿Estás seguro de eliminar la marca: <strong>{{ marca.nombre }}</strong>?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'marcas_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}